.button {
  margin: 32px;
  padding: 16px;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.logout-button {
  border: 1px solid #dc2626;
  background-color: #dc2626;
}

.logout-button:hover,
.logout-button:active,
.logout-button:focus {
  border: 1px solid #dc2626;
  background-color: #dc2626;
  cursor: pointer;
}
