.form1-container {
  width: 90vw;
  margin: 16px;
}

.input-field {
  width: 50%;
  padding: 16px;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
  outline: none;
  margin: 16px;
}

.result-cont {
  margin: 0 auto;
  height: auto;
}

div.iframe-height {
  height: 450px;
}

.flex-iframe-container {
  flex: 30%;
  padding: 16px;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
