.genre-chip {
  margin: 4px !important;
  font-size: 20px !important;
  padding: 10px !important;
}

.style-chip {
  margin: 4px !important;
  font-size: 20px !important;
  padding: 10px !important;
}

.genre-chip:hover,
.genre-chip:active,
.genre-chip:focus {
  background-color: #10b981 !important;
  color: white !important;
}

.selected-chip {
  background-color: #10b981 !important;
  color: white !important;
}

.selected-chip:hover,
.selected-chip:active,
.selected-chip:focus {
  background-color: #dc2626 !important;
  color: white !important;
}

.container-height {
  height: 300px;
}
